.medium{
    width: 100px;
    height: 50px;
}

.small{
    width: 80px;
    height: 40px;
}

.mini{
    width: 60px;
    height: 30px; 
}

.plain{
    background: rgb(238, 238, 238);
    border: 1px;
}

.plain:hover{
    border: 2px solid rgb(73, 163, 223);
    color: rgb(73, 163, 223);
}

.round{
    border-radius: 10%;
}

.circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.disable:hover{
    border: 0px;
    color: rgb(121, 113, 113);
}


// .loading::before{
//     content:"";
//     display: inline-block;
//     padding: 0;
//     margin:0;
//     width: 20px;
//     height: 20px;
//     border-radius: 50%;
//     background: red;
//     color:rgba(255, 0, 0, 0);
// }